<!DOCTYPE html>
<html ng-app="store">
	<head>
		<script type="text/javascript" src="jquery-1.12.1.min.js"></script>
		<script type="text/javascript" src="angular.min.js"></script>
		<script type="text/javascript" src="app.js"></script>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	</head>
	<body  ng-controller="StoreCtrl as store">
		
	<!--<div ng-show="!store.product.soldOut"> --
		<div ng-hide="store.product.soldOut">
			<h1>{{store.products[0].name}}</h1>
			<h2>{{store.products[0].price}}</h1>
			<p>{{store.products[0].description}}</p>
			<button class="btn btn-primary" ng-show="store.products[0].canPurchase">Add to Cart</button>	 
		</div>
		
		<div ng-hide="store.product.soldOut">
			<h1>{{store.products[1].name}}</h1>
			<h2>{{store.products[1].price}}</h1>
			<p>{{store.products[1].description}}</p>
			<button class="btn btn-primary" ng-show="store.products[1].canPurchase">Add to Cart</button>	 
		</div> -->
		
		<!-- <div ng-repeat="product in store.products">
			<h1>{{product.name}}</h1>
			<h2>{{product.price}}</h1>
			<p>{{product.description}}</p>
			<button class="btn btn-primary" ng-show="product.canPurchase">Add to Cart</button>	 			
		</div> -->
		
		<ul class="list-group">
			<li class="list-group-item" ng-repeat="product in store.products">
				<h3> {{product.name}} </h3>
				<!-- <em class ="pull-right"> ${{product.price }} </em>  -->
				<em class ="pull-right"> {{product.price | currency}} </em>
				
				<img ng-src="{{product.images[0].full}}"/>


				<section ng-controller="PanelCtrl as panel">
					<ul class="nav nav-pills">
						<li ng-class="{ active: panel.isSelected(1)}" >
							<a href ng-click="panel.selectTab(1)"> Description 
							</a>
						</li>
						<li ng-class="{ active: panel.isSelected(2)}">
							<a href ng-click="panel.selectTab(2)"> Specifications 
							</a>
						</li>
						<li ng-class="{ active: panel.isSelected(3)}"> <a href ng-click="panel.selectTab(3)"> Reviews </a></li>
					</ul>
					
					<div class="panel " ng-show="panel.isSelected(1)">
						<h4>Description</h4>
						<blockquote>{{product.description}}</blockquote>
					</div>
					<div class="panel " ng-show="panel.isSelected(2)">
						<h4>Specifications</h4>
						<blockquote>None yet</blockquote>
					</div>
					<div class="panel " ng-show="panel.isSelected(3)">

						<h4>Reviews</h4>
						<blockquote ng-repeat="review in product.reviews">
						<b> Stars: {{review.stars}}</b>
						{{review.body}}
						<br>
						<cite> - {{review.author}} </cite>
						</blockquote>
						
						<form name="reviewForm" ng-controller="ReviewController as rctrl" ng-submit="rctrl.addReview(product)">


							<!-- 
							<blockquote>
							<b> Stars: {{RCtrl.review.stars}}</b>
							{{RCtrl.review.body}}
							<br>
							<cite> - {{RCtrl.review.author}}</cite>
							</blockquote> -->


							
							<select ng-model="rctrl.review.stars" >
								<option value="1" >1 star</option>
								<option value="2" >2 stars</option>
								<option value="3" >3 stars</option>
								<option value="4" >4 stars</option>
								<option value="5" >5 stars</option>
							</select>
							<textarea  ng-model="rctrl.review.body"></textarea>
							<label>by:</label>
							<input ng-model="rctrl.review.author" type="email"/>
							<input type="submit" value="Submit"/>

						</form> 

					</div>


				</section>




				
			</li>
		</ul>


	</body>
</html>
